.profile__info {
    display: flex;
    flex-direction: column;
    max-width: 336px;
}

@media screen and (max-width: 900px) {
    .profile__info {
        max-width: 264px;
    }
}

@media screen and (max-width: 600px) {
    .profile__info {
        max-width: 282px;
        margin: 0 auto;
    }
}